F-BackEnd/binding/src/xcodeml/f/binding/gen/XcodeML_F.dtd

<!-- Generated by Relaxer 1.0 -->
<!-- Mon Jan 23 20:53:29 JST 2012 -->

<!ELEMENT FblockDataDefinition (symbols?, declarations?)>
<!ATTLIST FblockDataDefinition lineno CDATA #IMPLIED>
<!ATTLIST FblockDataDefinition endlineno CDATA #IMPLIED>
<!ATTLIST FblockDataDefinition rawlineno CDATA #IMPLIED>
<!ATTLIST FblockDataDefinition file CDATA #IMPLIED>
<!ATTLIST FblockDataDefinition name CDATA #IMPLIED>

<!ELEMENT FlogicalConstant (#PCDATA)>
<!ATTLIST FlogicalConstant type CDATA #IMPLIED>
<!ATTLIST FlogicalConstant kind CDATA #IMPLIED>

<!ELEMENT lowerBound (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>

<!ELEMENT FconcatExpr ((FlogicalConstant | logGTExpr | FstructConstructor | logLEExpr | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logEQVExpr | functionCall | logOrExpr | FarrayConstructor | logEQExpr | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST FconcatExpr type CDATA #IMPLIED>

<!ELEMENT userBinaryExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST userBinaryExpr name CDATA #IMPLIED>
<!ATTLIST userBinaryExpr type CDATA #IMPLIED>

<!ELEMENT FcharacterConstant (#PCDATA)>
<!ATTLIST FcharacterConstant type CDATA #IMPLIED>
<!ATTLIST FcharacterConstant kind CDATA #IMPLIED>

<!ELEMENT namedValueList (namedValue*)>

<!ELEMENT varRef (FarrayRef | FmemberRef | FcoArrayRef | FcharacterRef | Var)>
<!ATTLIST varRef type CDATA #IMPLIED>

<!ELEMENT FstructType (symbols)>
<!ATTLIST FstructType type CDATA #IMPLIED>
<!ATTLIST FstructType is_public CDATA #IMPLIED>
<!ATTLIST FstructType is_private CDATA #IMPLIED>
<!ATTLIST FstructType is_sequence CDATA #IMPLIED>
<!ATTLIST FstructType is_internal_private CDATA #IMPLIED>

<!ELEMENT FcommonDecl (varList+)>
<!ATTLIST FcommonDecl lineno CDATA #IMPLIED>
<!ATTLIST FcommonDecl endlineno CDATA #IMPLIED>
<!ATTLIST FcommonDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FcommonDecl file CDATA #IMPLIED>

<!ELEMENT FnamelistDecl (varList+)>
<!ATTLIST FnamelistDecl lineno CDATA #IMPLIED>
<!ATTLIST FnamelistDecl endlineno CDATA #IMPLIED>
<!ATTLIST FnamelistDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FnamelistDecl file CDATA #IMPLIED>

<!ELEMENT FdataDecl ((varList, valueList)+)>
<!ATTLIST FdataDecl lineno CDATA #IMPLIED>
<!ATTLIST FdataDecl endlineno CDATA #IMPLIED>
<!ATTLIST FdataDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FdataDecl file CDATA #IMPLIED>

<!ELEMENT FstopStatement EMPTY>
<!ATTLIST FstopStatement lineno CDATA #IMPLIED>
<!ATTLIST FstopStatement endlineno CDATA #IMPLIED>
<!ATTLIST FstopStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FstopStatement file CDATA #IMPLIED>
<!ATTLIST FstopStatement code CDATA #IMPLIED>
<!ATTLIST FstopStatement message CDATA #IMPLIED>

<!ELEMENT logEQExpr ((FlogicalConstant | logGTExpr | FstructConstructor | logLEExpr | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logEQExpr type CDATA #IMPLIED>

<!ELEMENT FassignStatement ((FarrayRef | FmemberRef | FcoArrayRef | FcharacterRef | Var), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST FassignStatement lineno CDATA #IMPLIED>
<!ATTLIST FassignStatement endlineno CDATA #IMPLIED>
<!ATTLIST FassignStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FassignStatement file CDATA #IMPLIED>

<!ELEMENT unaryMinusExpr (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>
<!ATTLIST unaryMinusExpr type CDATA #IMPLIED>

<!ELEMENT FpointerAssignStatement ((FarrayRef | FmemberRef | FcoArrayRef | FcharacterRef | Var), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST FpointerAssignStatement lineno CDATA #IMPLIED>
<!ATTLIST FpointerAssignStatement endlineno CDATA #IMPLIED>
<!ATTLIST FpointerAssignStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FpointerAssignStatement file CDATA #IMPLIED>

<!ELEMENT exprStatement (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>
<!ATTLIST exprStatement lineno CDATA #IMPLIED>
<!ATTLIST exprStatement endlineno CDATA #IMPLIED>
<!ATTLIST exprStatement rawlineno CDATA #IMPLIED>
<!ATTLIST exprStatement file CDATA #IMPLIED>

<!ELEMENT else (body)>
<!ATTLIST else lineno CDATA #IMPLIED>
<!ATTLIST else endlineno CDATA #IMPLIED>
<!ATTLIST else rawlineno CDATA #IMPLIED>
<!ATTLIST else file CDATA #IMPLIED>

<!ELEMENT logNotExpr (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>
<!ATTLIST logNotExpr type CDATA #IMPLIED>

<!ELEMENT FcoArrayRef (varRef, arrayIndex*)>
<!ATTLIST FcoArrayRef type CDATA #IMPLIED>

<!ELEMENT FequivalenceDecl ((varRef, varList)+)>
<!ATTLIST FequivalenceDecl lineno CDATA #IMPLIED>
<!ATTLIST FequivalenceDecl endlineno CDATA #IMPLIED>
<!ATTLIST FequivalenceDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FequivalenceDecl file CDATA #IMPLIED>

<!ELEMENT namedValue (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)?>
<!ATTLIST namedValue name CDATA #IMPLIED>
<!ATTLIST namedValue value CDATA #IMPLIED>

<!ELEMENT FnullifyStatement (alloc+)>
<!ATTLIST FnullifyStatement lineno CDATA #IMPLIED>
<!ATTLIST FnullifyStatement endlineno CDATA #IMPLIED>
<!ATTLIST FnullifyStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FnullifyStatement file CDATA #IMPLIED>

<!ELEMENT FarrayRef (varRef, (FarrayRef | arrayIndex | FarrayConstructor | indexRange)*)>
<!ATTLIST FarrayRef type CDATA #IMPLIED>

<!ELEMENT symbols (id*)>

<!ELEMENT FopenStatement (namedValueList)>
<!ATTLIST FopenStatement lineno CDATA #IMPLIED>
<!ATTLIST FopenStatement endlineno CDATA #IMPLIED>
<!ATTLIST FopenStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FopenStatement file CDATA #IMPLIED>

<!ELEMENT then (body)>
<!ATTLIST then lineno CDATA #IMPLIED>
<!ATTLIST then endlineno CDATA #IMPLIED>
<!ATTLIST then rawlineno CDATA #IMPLIED>
<!ATTLIST then file CDATA #IMPLIED>

<!ELEMENT FuseOnlyDecl (renamable*)>
<!ATTLIST FuseOnlyDecl lineno CDATA #IMPLIED>
<!ATTLIST FuseOnlyDecl endlineno CDATA #IMPLIED>
<!ATTLIST FuseOnlyDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FuseOnlyDecl file CDATA #IMPLIED>
<!ATTLIST FuseOnlyDecl name CDATA #IMPLIED>

<!ELEMENT FinquireStatement (namedValueList, valueList?)>
<!ATTLIST FinquireStatement lineno CDATA #IMPLIED>
<!ATTLIST FinquireStatement endlineno CDATA #IMPLIED>
<!ATTLIST FinquireStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FinquireStatement file CDATA #IMPLIED>

<!ELEMENT FinterfaceDecl (FmoduleProcedureDecl | FfunctionDecl)*>
<!ATTLIST FinterfaceDecl lineno CDATA #IMPLIED>
<!ATTLIST FinterfaceDecl endlineno CDATA #IMPLIED>
<!ATTLIST FinterfaceDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FinterfaceDecl file CDATA #IMPLIED>
<!ATTLIST FinterfaceDecl name CDATA #IMPLIED>
<!ATTLIST FinterfaceDecl is_operator CDATA #IMPLIED>
<!ATTLIST FinterfaceDecl is_assignment CDATA #IMPLIED>

<!ELEMENT FstructConstructor (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)*>
<!ATTLIST FstructConstructor type CDATA #IMPLIED>

<!ELEMENT FwhereStatement (condition, then, else?)>
<!ATTLIST FwhereStatement lineno CDATA #IMPLIED>
<!ATTLIST FwhereStatement endlineno CDATA #IMPLIED>
<!ATTLIST FwhereStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FwhereStatement file CDATA #IMPLIED>

<!ELEMENT FreadStatement (namedValueList, valueList)>
<!ATTLIST FreadStatement lineno CDATA #IMPLIED>
<!ATTLIST FreadStatement endlineno CDATA #IMPLIED>
<!ATTLIST FreadStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FreadStatement file CDATA #IMPLIED>

<!ELEMENT renamable EMPTY>
<!ATTLIST renamable use_name CDATA #IMPLIED>
<!ATTLIST renamable local_name CDATA #IMPLIED>

<!ELEMENT logAndExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logAndExpr type CDATA #IMPLIED>

<!ELEMENT kind (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>

<!ELEMENT userUnaryExpr (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>
<!ATTLIST userUnaryExpr name CDATA #IMPLIED>
<!ATTLIST userUnaryExpr type CDATA #IMPLIED>

<!ELEMENT logEQVExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logEQVExpr type CDATA #IMPLIED>

<!ELEMENT coShape (indexRange+)>

<!ELEMENT logGEExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logEQVExpr | functionCall | logOrExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logGEExpr type CDATA #IMPLIED>

<!ELEMENT upperBound (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>

<!ELEMENT FdoStatement ((Var, indexRange)?, body?)>
<!ATTLIST FdoStatement lineno CDATA #IMPLIED>
<!ATTLIST FdoStatement endlineno CDATA #IMPLIED>
<!ATTLIST FdoStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FdoStatement file CDATA #IMPLIED>
<!ATTLIST FdoStatement construct_name CDATA #IMPLIED>

<!ELEMENT divExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logEQVExpr | functionCall | logOrExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST divExpr type CDATA #IMPLIED>

<!ELEMENT varList (FdoLoop | varRef)*>
<!ATTLIST varList name CDATA #IMPLIED>

<!ELEMENT externDecl (name)>
<!ATTLIST externDecl lineno CDATA #IMPLIED>
<!ATTLIST externDecl endlineno CDATA #IMPLIED>
<!ATTLIST externDecl rawlineno CDATA #IMPLIED>
<!ATTLIST externDecl file CDATA #IMPLIED>

<!ELEMENT FfunctionType (params?)>
<!ATTLIST FfunctionType type CDATA #IMPLIED>
<!ATTLIST FfunctionType return_type CDATA #IMPLIED>
<!ATTLIST FfunctionType result_name CDATA #IMPLIED>
<!ATTLIST FfunctionType is_recursive CDATA #IMPLIED>
<!ATTLIST FfunctionType is_program CDATA #IMPLIED>
<!ATTLIST FfunctionType is_internal CDATA #IMPLIED>
<!ATTLIST FfunctionType is_intrinsic CDATA #IMPLIED>
<!ATTLIST FfunctionType is_external CDATA #IMPLIED>
<!ATTLIST FfunctionType is_public CDATA #IMPLIED>
<!ATTLIST FfunctionType is_private CDATA #IMPLIED>

<!ELEMENT FmoduleDefinition (symbols?, declarations?, FcontainsStatement?)>
<!ATTLIST FmoduleDefinition lineno CDATA #IMPLIED>
<!ATTLIST FmoduleDefinition endlineno CDATA #IMPLIED>
<!ATTLIST FmoduleDefinition rawlineno CDATA #IMPLIED>
<!ATTLIST FmoduleDefinition file CDATA #IMPLIED>
<!ATTLIST FmoduleDefinition name CDATA #IMPLIED>

<!ELEMENT len (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)?>

<!ELEMENT FifStatement (condition, then, else?)>
<!ATTLIST FifStatement lineno CDATA #IMPLIED>
<!ATTLIST FifStatement endlineno CDATA #IMPLIED>
<!ATTLIST FifStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FifStatement file CDATA #IMPLIED>
<!ATTLIST FifStatement construct_name CDATA #IMPLIED>

<!ELEMENT minusExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST minusExpr type CDATA #IMPLIED>

<!ELEMENT arguments (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | Ffunction | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | namedValue | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)*>

<!ELEMENT FdeallocateStatement (alloc+)>
<!ATTLIST FdeallocateStatement lineno CDATA #IMPLIED>
<!ATTLIST FdeallocateStatement endlineno CDATA #IMPLIED>
<!ATTLIST FdeallocateStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FdeallocateStatement file CDATA #IMPLIED>
<!ATTLIST FdeallocateStatement stat_name CDATA #IMPLIED>

<!ELEMENT logLTExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logLTExpr type CDATA #IMPLIED>

<!ELEMENT FfunctionDecl (name, declarations?)>
<!ATTLIST FfunctionDecl lineno CDATA #IMPLIED>
<!ATTLIST FfunctionDecl endlineno CDATA #IMPLIED>
<!ATTLIST FfunctionDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FfunctionDecl file CDATA #IMPLIED>

<!ELEMENT gotoStatement ((params, value)?)>
<!ATTLIST gotoStatement lineno CDATA #IMPLIED>
<!ATTLIST gotoStatement endlineno CDATA #IMPLIED>
<!ATTLIST gotoStatement rawlineno CDATA #IMPLIED>
<!ATTLIST gotoStatement file CDATA #IMPLIED>
<!ATTLIST gotoStatement label_name CDATA #IMPLIED>

<!ELEMENT Var (#PCDATA)>
<!ATTLIST Var type CDATA #IMPLIED>
<!ATTLIST Var scope (local|global|param) "local">

<!ELEMENT FintConstant (#PCDATA)>
<!ATTLIST FintConstant type CDATA #IMPLIED>
<!ATTLIST FintConstant kind CDATA #IMPLIED>

<!ELEMENT body (FpragmaStatement | FpauseStatement | FwhereStatement | FcontainsStatement | statementLabel | FreadStatement | FreturnStatement | FdoWhileStatement | FdataDecl | FstopStatement | FassignStatement | FentryDecl | FexitStatement | FformatDecl | FpointerAssignStatement | FallocateStatement | FdoStatement | FwriteStatement | exprStatement | text | FrewindStatement | FcaseLabel | FcloseStatement | FprintStatement | FnullifyStatement | continueStatement | FifStatement | FbackspaceStatement | FcycleStatement | FopenStatement | FselectCaseStatement | FdeallocateStatement | gotoStatement | FinquireStatement | FendFileStatement)*>

<!ELEMENT FpauseStatement EMPTY>
<!ATTLIST FpauseStatement lineno CDATA #IMPLIED>
<!ATTLIST FpauseStatement endlineno CDATA #IMPLIED>
<!ATTLIST FpauseStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FpauseStatement file CDATA #IMPLIED>
<!ATTLIST FpauseStatement code CDATA #IMPLIED>
<!ATTLIST FpauseStatement message CDATA #IMPLIED>

<!ELEMENT logNEQVExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logNEQVExpr type CDATA #IMPLIED>

<!ELEMENT rename EMPTY>
<!ATTLIST rename use_name CDATA #IMPLIED>
<!ATTLIST rename local_name CDATA #IMPLIED>

<!ELEMENT FreturnStatement EMPTY>
<!ATTLIST FreturnStatement lineno CDATA #IMPLIED>
<!ATTLIST FreturnStatement endlineno CDATA #IMPLIED>
<!ATTLIST FreturnStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FreturnStatement file CDATA #IMPLIED>

<!ELEMENT mulExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST mulExpr type CDATA #IMPLIED>

<!ELEMENT plusExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | FstructConstructor | logLEExpr | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logEQVExpr | functionCall | logOrExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST plusExpr type CDATA #IMPLIED>

<!ELEMENT Ffunction (#PCDATA)>
<!ATTLIST Ffunction type CDATA #IMPLIED>

<!ELEMENT functionCall (name, arguments?)>
<!ATTLIST functionCall type CDATA #IMPLIED>
<!ATTLIST functionCall is_intrinsic CDATA #IMPLIED>

<!ELEMENT FarrayConstructor (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)*>
<!ATTLIST FarrayConstructor type CDATA #IMPLIED>

<!ELEMENT FentryDecl (name)>
<!ATTLIST FentryDecl lineno CDATA #IMPLIED>
<!ATTLIST FentryDecl endlineno CDATA #IMPLIED>
<!ATTLIST FentryDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FentryDecl file CDATA #IMPLIED>

<!ELEMENT value ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), repeat_count?)>

<!ELEMENT FmemberRef (varRef)>
<!ATTLIST FmemberRef type CDATA #IMPLIED>
<!ATTLIST FmemberRef member CDATA #IMPLIED>

<!ELEMENT text (#PCDATA)>
<!ATTLIST text lineno CDATA #IMPLIED>
<!ATTLIST text endlineno CDATA #IMPLIED>
<!ATTLIST text rawlineno CDATA #IMPLIED>
<!ATTLIST text file CDATA #IMPLIED>

<!ELEMENT XcodeProgram (typeTable, globalSymbols, globalDeclarations)>
<!ATTLIST XcodeProgram compiler-info CDATA #IMPLIED>
<!ATTLIST XcodeProgram version CDATA #IMPLIED>
<!ATTLIST XcodeProgram time CDATA #IMPLIED>
<!ATTLIST XcodeProgram language CDATA #IMPLIED>
<!ATTLIST XcodeProgram source CDATA #IMPLIED>

<!ELEMENT condition (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>

<!ELEMENT globalDeclarations (FblockDataDefinition | text | FfunctionDefinition | FmoduleDefinition)*>

<!ELEMENT valueList (value*)>

<!ELEMENT FcaseLabel ((value | indexRange)*, body)>
<!ATTLIST FcaseLabel lineno CDATA #IMPLIED>
<!ATTLIST FcaseLabel endlineno CDATA #IMPLIED>
<!ATTLIST FcaseLabel rawlineno CDATA #IMPLIED>
<!ATTLIST FcaseLabel file CDATA #IMPLIED>
<!ATTLIST FcaseLabel construct_name CDATA #IMPLIED>

<!ELEMENT FcloseStatement (namedValueList)>
<!ATTLIST FcloseStatement lineno CDATA #IMPLIED>
<!ATTLIST FcloseStatement endlineno CDATA #IMPLIED>
<!ATTLIST FcloseStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FcloseStatement file CDATA #IMPLIED>

<!ELEMENT FstructDecl (name)>
<!ATTLIST FstructDecl lineno CDATA #IMPLIED>
<!ATTLIST FstructDecl endlineno CDATA #IMPLIED>
<!ATTLIST FstructDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FstructDecl file CDATA #IMPLIED>

<!ELEMENT FrealConstant (#PCDATA)>
<!ATTLIST FrealConstant type CDATA #IMPLIED>
<!ATTLIST FrealConstant kind CDATA #IMPLIED>

<!ELEMENT typeTable (FbasicType | FfunctionType | FstructType)*>

<!ELEMENT FbackspaceStatement (namedValueList)>
<!ATTLIST FbackspaceStatement lineno CDATA #IMPLIED>
<!ATTLIST FbackspaceStatement endlineno CDATA #IMPLIED>
<!ATTLIST FbackspaceStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FbackspaceStatement file CDATA #IMPLIED>

<!ELEMENT FcycleStatement EMPTY>
<!ATTLIST FcycleStatement lineno CDATA #IMPLIED>
<!ATTLIST FcycleStatement endlineno CDATA #IMPLIED>
<!ATTLIST FcycleStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FcycleStatement file CDATA #IMPLIED>
<!ATTLIST FcycleStatement construct_name CDATA #IMPLIED>

<!ELEMENT arrayIndex (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>

<!ELEMENT FselectCaseStatement (value, FcaseLabel*)>
<!ATTLIST FselectCaseStatement lineno CDATA #IMPLIED>
<!ATTLIST FselectCaseStatement endlineno CDATA #IMPLIED>
<!ATTLIST FselectCaseStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FselectCaseStatement file CDATA #IMPLIED>
<!ATTLIST FselectCaseStatement construct_name CDATA #IMPLIED>

<!ELEMENT logNEQExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | FstructConstructor | logLEExpr | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logNEQExpr type CDATA #IMPLIED>

<!ELEMENT indexRange (lowerBound?, upperBound?, step?)>
<!ATTLIST indexRange is_assumed_shape CDATA #IMPLIED>
<!ATTLIST indexRange is_assumed_size CDATA #IMPLIED>

<!ELEMENT repeat_count (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>

<!ELEMENT alloc ((FmemberRef | Var), (arrayIndex | indexRange)*, coShape?)>

<!ELEMENT FpragmaStatement (#PCDATA)>
<!ATTLIST FpragmaStatement lineno CDATA #IMPLIED>
<!ATTLIST FpragmaStatement endlineno CDATA #IMPLIED>
<!ATTLIST FpragmaStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FpragmaStatement file CDATA #IMPLIED>

<!ELEMENT FbasicType (kind?, (len | (arrayIndex | indexRange)+)?, coShape?)>
<!ATTLIST FbasicType type CDATA #IMPLIED>
<!ATTLIST FbasicType ref CDATA #IMPLIED>
<!ATTLIST FbasicType is_public CDATA #IMPLIED>
<!ATTLIST FbasicType is_private CDATA #IMPLIED>
<!ATTLIST FbasicType is_pointer CDATA #IMPLIED>
<!ATTLIST FbasicType is_target CDATA #IMPLIED>
<!ATTLIST FbasicType is_optional CDATA #IMPLIED>
<!ATTLIST FbasicType is_save CDATA #IMPLIED>
<!ATTLIST FbasicType is_parameter CDATA #IMPLIED>
<!ATTLIST FbasicType is_allocatable CDATA #IMPLIED>
<!ATTLIST FbasicType intent (in|out|inout) "in">

<!ELEMENT logGTExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logEQVExpr | functionCall | logOrExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logGTExpr type CDATA #IMPLIED>

<!ELEMENT logLEExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logEQVExpr | functionCall | logOrExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logLEExpr type CDATA #IMPLIED>

<!ELEMENT FcontainsStatement (FfunctionDefinition+)>
<!ATTLIST FcontainsStatement lineno CDATA #IMPLIED>
<!ATTLIST FcontainsStatement endlineno CDATA #IMPLIED>
<!ATTLIST FcontainsStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FcontainsStatement file CDATA #IMPLIED>

<!ELEMENT statementLabel EMPTY>
<!ATTLIST statementLabel lineno CDATA #IMPLIED>
<!ATTLIST statementLabel endlineno CDATA #IMPLIED>
<!ATTLIST statementLabel rawlineno CDATA #IMPLIED>
<!ATTLIST statementLabel file CDATA #IMPLIED>
<!ATTLIST statementLabel label_name CDATA #IMPLIED>

<!ELEMENT FfunctionDefinition (name, symbols?, declarations?, body)>
<!ATTLIST FfunctionDefinition lineno CDATA #IMPLIED>
<!ATTLIST FfunctionDefinition endlineno CDATA #IMPLIED>
<!ATTLIST FfunctionDefinition rawlineno CDATA #IMPLIED>
<!ATTLIST FfunctionDefinition file CDATA #IMPLIED>

<!ELEMENT varDecl (name, value?)>
<!ATTLIST varDecl lineno CDATA #IMPLIED>
<!ATTLIST varDecl endlineno CDATA #IMPLIED>
<!ATTLIST varDecl rawlineno CDATA #IMPLIED>
<!ATTLIST varDecl file CDATA #IMPLIED>

<!ELEMENT FdoWhileStatement (condition, body?)>
<!ATTLIST FdoWhileStatement lineno CDATA #IMPLIED>
<!ATTLIST FdoWhileStatement endlineno CDATA #IMPLIED>
<!ATTLIST FdoWhileStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FdoWhileStatement file CDATA #IMPLIED>
<!ATTLIST FdoWhileStatement construct_name CDATA #IMPLIED>

<!ELEMENT id (name?)>
<!ATTLIST id sclass (flocal|fsave|fcommon|fparam|ffunc|ftype_name|fcommon_name|fnamelist_name) "flocal">
<!ATTLIST id type CDATA #IMPLIED>

<!ELEMENT logOrExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST logOrExpr type CDATA #IMPLIED>

<!ELEMENT FexitStatement EMPTY>
<!ATTLIST FexitStatement lineno CDATA #IMPLIED>
<!ATTLIST FexitStatement endlineno CDATA #IMPLIED>
<!ATTLIST FexitStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FexitStatement file CDATA #IMPLIED>
<!ATTLIST FexitStatement construct_name CDATA #IMPLIED>

<!ELEMENT FformatDecl EMPTY>
<!ATTLIST FformatDecl lineno CDATA #IMPLIED>
<!ATTLIST FformatDecl endlineno CDATA #IMPLIED>
<!ATTLIST FformatDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FformatDecl file CDATA #IMPLIED>
<!ATTLIST FformatDecl format CDATA #IMPLIED>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name type CDATA #IMPLIED>

<!ELEMENT FdoLoop (Var, indexRange, value+)>

<!ELEMENT globalSymbols (id*)>

<!ELEMENT FallocateStatement (alloc+)>
<!ATTLIST FallocateStatement lineno CDATA #IMPLIED>
<!ATTLIST FallocateStatement endlineno CDATA #IMPLIED>
<!ATTLIST FallocateStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FallocateStatement file CDATA #IMPLIED>
<!ATTLIST FallocateStatement stat_name CDATA #IMPLIED>

<!ELEMENT FuseDecl (rename*)>
<!ATTLIST FuseDecl lineno CDATA #IMPLIED>
<!ATTLIST FuseDecl endlineno CDATA #IMPLIED>
<!ATTLIST FuseDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FuseDecl file CDATA #IMPLIED>
<!ATTLIST FuseDecl name CDATA #IMPLIED>

<!ELEMENT FwriteStatement (namedValueList, valueList)>
<!ATTLIST FwriteStatement lineno CDATA #IMPLIED>
<!ATTLIST FwriteStatement endlineno CDATA #IMPLIED>
<!ATTLIST FwriteStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FwriteStatement file CDATA #IMPLIED>

<!ELEMENT declarations (FpragmaStatement | FinterfaceDecl | FdataDecl | FequivalenceDecl | FentryDecl | varDecl | FuseOnlyDecl | FstructDecl | FcommonDecl | FuseDecl | FnamelistDecl | externDecl)*>

<!ELEMENT FpowerExpr ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | mulExpr | varRef | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | logEQVExpr | functionCall | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | FstructConstructor | logLEExpr | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logEQVExpr | functionCall | logOrExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST FpowerExpr type CDATA #IMPLIED>

<!ELEMENT FrewindStatement (namedValueList)>
<!ATTLIST FrewindStatement lineno CDATA #IMPLIED>
<!ATTLIST FrewindStatement endlineno CDATA #IMPLIED>
<!ATTLIST FrewindStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FrewindStatement file CDATA #IMPLIED>

<!ELEMENT FcharacterRef (varRef, indexRange?)>
<!ATTLIST FcharacterRef type CDATA #IMPLIED>

<!ELEMENT FcomplexConstant ((FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant), (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | FconcatExpr | userBinaryExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | logEQExpr | FarrayConstructor | logGEExpr | unaryMinusExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | FcoArrayRef | logNotExpr | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant))>
<!ATTLIST FcomplexConstant type CDATA #IMPLIED>

<!ELEMENT params (name*)>

<!ELEMENT FprintStatement (valueList)>
<!ATTLIST FprintStatement lineno CDATA #IMPLIED>
<!ATTLIST FprintStatement endlineno CDATA #IMPLIED>
<!ATTLIST FprintStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FprintStatement file CDATA #IMPLIED>
<!ATTLIST FprintStatement format CDATA #IMPLIED>

<!ELEMENT continueStatement EMPTY>
<!ATTLIST continueStatement lineno CDATA #IMPLIED>
<!ATTLIST continueStatement endlineno CDATA #IMPLIED>
<!ATTLIST continueStatement rawlineno CDATA #IMPLIED>
<!ATTLIST continueStatement file CDATA #IMPLIED>

<!ELEMENT FmoduleProcedureDecl (name*)>
<!ATTLIST FmoduleProcedureDecl lineno CDATA #IMPLIED>
<!ATTLIST FmoduleProcedureDecl endlineno CDATA #IMPLIED>
<!ATTLIST FmoduleProcedureDecl rawlineno CDATA #IMPLIED>
<!ATTLIST FmoduleProcedureDecl file CDATA #IMPLIED>

<!ELEMENT FendFileStatement (namedValueList)>
<!ATTLIST FendFileStatement lineno CDATA #IMPLIED>
<!ATTLIST FendFileStatement endlineno CDATA #IMPLIED>
<!ATTLIST FendFileStatement rawlineno CDATA #IMPLIED>
<!ATTLIST FendFileStatement file CDATA #IMPLIED>

<!ELEMENT step (FlogicalConstant | logGTExpr | logLEExpr | FstructConstructor | userBinaryExpr | FconcatExpr | FcharacterConstant | logNEQVExpr | varRef | mulExpr | plusExpr | logAndExpr | userUnaryExpr | logOrExpr | functionCall | logEQVExpr | FarrayConstructor | logEQExpr | unaryMinusExpr | logGEExpr | FdoLoop | FpowerExpr | divExpr | FmemberRef | logNotExpr | FcoArrayRef | FcharacterRef | FcomplexConstant | FrealConstant | FarrayRef | minusExpr | logLTExpr | logNEQExpr | Var | FintConstant)>
